<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>University</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <style>
    body { padding-top: 20px; }
    .container { max-width: 1100px; }
  </style>
</head>
<body>
<section class="section">
  <div class="container">
    <h1 class="title">Университет</h1>
    <nav class="level">
      <div class="level-left">
        <div class="level-item"><a href="/" class="button is-light">Студенты</a></div>
        <div class="level-item"><a href="/courses" class="button is-light">Курсы</a></div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </div>
</section>
</body>
</html>
